/* @font-face {
    font-family: 'font-awesome.min.css';
    src: url(/fonts/fontawesome-webfont.ttf) format(ttf);
    src: url(/fonts/font-awesome.min.css) format(woff);
    src: url(/fonts/font-awesome.css) format(webf);
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 10px;
    

}

body {
    background-image: url(./assets/bg.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.title {
    position: absolute;
    
}

.fa-snowflake-o {
    color: #fff;
    position: absolute;
    top: -20px;
    animation: fall linear forwards;

}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}



.until {
    margin: 25px;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding: 10px;
    background: rgba(6, 94, 64, 0.308);
    border-radius: 15px;
    box-shadow:  0 0 5px rgba (0, 0, 0, 0.3);
    font-family: sans-serif;
    font-size: 15px;
    position: absolute;
    top: 80px;
    left: 700px;
    color: white;
    font-style: oblique;

}

.until__component {
    text-align: center;
    border-radius: 5px;
    border: 10px green;
    /* background-color: rgba(255, 255, 255, 0.815); */
    
}

.until__numeric {
    padding: 5px 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: darkred;
    border-radius: 5%;
    margin-bottom: 10px;
    border: 2px normal white;
}

.until__unit {
    padding: 5px 16px 5px;
    font-weight: bold;
    background-color: darkred;
    border-radius: 5%;
    /* border: 2px dashed white; */

}

.until__event {
    text-align: center;
    grid-column: span 4;
    font-weight: bold;
    background-color: darkred;
    border-radius: 1%;
    padding: 10px 0;
    /* border: 2px dashed white; */
    

}



/* //for tablets  */

@media screen and  (max-width: 991px) {
    body {
        background-size: cover;
        background-position: -456px;
        max-width: 100%;
        max-height: 100vh;
        
    }

    .until {
        position: absolute;
        left: 150px;
        top: 500px;
        font-family: sans-serif;
        font-size: 25px;
        max-width: 100%;
    }

    .until__numeric {
        font-size: 25px;
    }
}

@media screen and (max-width: 769px) {
    body {
        background-size: cover;
        background-position: -316px;
        max-height: 100vh;   
    }

    .until {
        position: absolute;
        left: -10px;
        top: 500px;
        font-family: sans-serif;
        font-size: 17px;
        max-width: min-content;
        gap: 1px;
        color: black;
        grid-template-columns: repeat(4, 90px);
    }
    .until__component {
        max-width: 90%;
        
    }
    .until__numeric {
        background-color: darkred;
        /* border: 4px dashed darkred; */
        font-size: 19px;
    }
    .until__unit {
        background-color: darkred;
        /* border: 4px dashed darkred; */
        padding: 3px 5px 3px;
    }

    .until__event {
        padding: 5px 10px;
        position: absolute;
        left: 66px;
        top: 102px;
        grid-column: span 3;
        background-color: darkred;
        /* border: 2px dashed darkred; */
    }
}
    
